<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method="post" enctype="multipart/form-data" th:action="dictionary_upload">
        <input name="file" type="file">
        <button type="submit">Добавить</button>
    </form>
    <div th:if="${message != null}" th:text="${message}"></div>
</div>

<div>
    <form method="post" th:action="dictionary_search">
        <input type="text" name="search">
        <button type="submit">Найти</button>
    </form>
</div>

<div th:if="${dictionary != null}">
    <table>
        <thead>
        <tr>
            <th>Выражение</th>
            <th>Оценка</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${dictionary}">
            <td th:text="${entry.key}">Выражение</td>
            <td th:text="${entry.value}">Оценка</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>